body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: gray;
  color: black;
  text-align: center;
  justify-content: center;
}

Link{
    text-decoration: none;
}

button {
    padding: 10px;
    background-color: rgb(45, 179, 231);
    font-family: 'Trirong', sans-serif;
    border: none;
    justify-content:space-between;
    margin: 20px;
    border-radius: 10px;
    text-decoration: none;
}

button:hover {
    padding: 10px;
    background-color: rgb(18, 133, 133);
    font-family: 'Trirong', sans-serif;
    color: white;
    
}

Link{
    text-decoration: none;
}